[submodule "ios/Fonts"]
	path = ios/Fonts
	url = https://github.com/TrainLCD/MobileAppFonts.git
[submodule "android/app/src/main/assets/fonts"]
	path = android/app/src/main/assets/fonts
	url = https://github.com/TrainLCD/MobileAppFonts.git
