[submodule "proto"]
	path = proto
	url = https://github.com/TrainLCD/gRPCProto
[submodule "ios/Fonts"]
	path = ios/Fonts
	url = https://github.com/TrainLCD/MobileAppFonts
[submodule "android/app/src/main/assets/fonts"]
	path = android/app/src/main/assets/fonts
	url = https://github.com/TrainLCD/MobileAppFonts
