[submodule "proto"]
	path = proto
	url = https://github.com/TrainLCD/gRPCProto.git
[submodule "ios/Fonts"]
	path = ios/Fonts
	url = git@github.com:TrainLCD/MobileAppFonts.git
[submodule "android/app/src/main/assets/fonts"]
	path = android/app/src/main/assets/fonts
	url = git@github.com:TrainLCD/MobileAppFonts.git
