name: Jest

on:
  push:
    branches:
      - '**'
    paths:
      - 'package.json'
      - 'pnpm-lock.yaml'
      - 'src/**'

env:
  cache-version: v1
  TZ: 'Asia/Tokyo'

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i
      - name: Run Jest
        run: pnpm test
